.example-sidenav-fab-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);

}

  .example-sidenav-fab-container md-sidenav {
    max-width: 200px;
  }

  .example-sidenav-fab-container .mat-sidenav-content,
  .example-sidenav-fab-container md-sidenav {
    display: flex;
    overflow: visible;
  }

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
md-grid-tile {
  background: lightblue;
}
.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('../../assets/img/shiba1.jpg');
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.md-chip {
  max-width: 200px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
