<!--The content below is only a placeholder and can be replaced.-->
<!--top header elements-->
<md-toolbar class="top-header">
    <div class="content clearfix">
      <div class="logo">
        <img src="./assets/img/Amaze-Logo.png" />
      </div>
      <button type="button" md-button (click)="sidenav.toggle()" class="menu-button">
        <i class="material-icons">subject</i>
      </button>
  </div>
</md-toolbar>
<!--Menu  elemets-->
  <md-sidenav-container class="sidenav-container custom-nav-container mat-drawer-opened">
    <md-sidenav #sidenav class="sidenav custom-sidenav" opened="true">
      <ul>
        <li><a routerLink="/autocomplete" routerLinkActive="active">Form Components</a></li>
        <li><a routerLink="/tabs" routerLinkActive="active">Tabs</a></li>
        <li><a routerLink="/table" routerLinkActive="active">Table</a></li>
        <li><a routerLink="/dialogue" routerLinkActive="active">dialogue</a></li>
        <li><a routerLink="/accordian" routerLinkActive="active">Md2 Accordion</a></li>
        <li><a routerLink="/autocompletemd2" routerLinkActive="active">Md2 Autocomplete</a></li>
        <li><a routerLink="/chipsmd2" routerLinkActive="active">Md2 Chips</a></li>
        <li><a routerLink="/collapsemd2" routerLinkActive="active">Md2 Collapse</a></li>
        <li><a routerLink="/colorpicker" routerLinkActive="active">Md2 ColorPicker</a></li>
        <li><a routerLink="/datatable" routerLinkActive="active">Md2 Datatble</a></li>
        <li><a routerLink="/datepicker" routerLinkActive="active">Md2 Datepicker</a></li>
        <li><a routerLink="/md2dialogue" routerLinkActive="active">Md2 Dialogue</a></li>
        <li><a routerLink="/md2menu" routerLinkActive="active">Md2 Menu</a></li>
        <li><a routerLink="/md2select" routerLinkActive="active">Md2 Select</a></li>
        <li><a routerLink="/md2tabs" routerLinkActive="active">Md2 Tabs</a></li>
        <li><a routerLink="/md2tags" routerLinkActive="active">Md2 Tags</a></li>
        <li><a routerLink="/md2toast" routerLinkActive="active">Md2 Toast</a></li>
        <li><a routerLink="/md2tooltip" routerLinkActive="active">Md2 ToolTip</a></li>
      </ul>
    </md-sidenav>
    <div class="content-area">
      <!--Routing  elemets-->
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

