<!--The content below is only a placeholder and can be replaced.-->
<!--top header elements-->
<md-toolbar class="top-header">
    <div class="content clearfix">
      <div class="logo">
        <img src="./assets/img/Amaze-Logo.png" />
      </div>
      <button type="button" md-button (click)="sidenav.toggle()" class="menu-button">
        <i class="material-icons">subject</i>
      </button>
  </div>
</md-toolbar>
  <md-sidenav-container class="sidenav-container custom-nav-container">
    <md-sidenav #sidenav class="sidenav custom-sidenav" opened="true">
      <ul>
        <li><a routerLink="/autocomplete" routerLinkActive="active">Form Components</a></li>
        <li><a routerLink="/tabs" routerLinkActive="active">Tabs</a></li>
        <li><a routerLink="/table" routerLinkActive="active">Table</a></li>
        <li><a routerLink="/dialogue" routerLinkActive="active">dialogue</a></li>
      </ul>
      <div class="social-icon">
        <a class="social-icon-content fb-icon"></a>
        <a class="social-icon-content twitter-icon"></a>
      </div>
    </md-sidenav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
<!--Routing  elemets-->
