<!--DialogueBox  elemets-->
<!--DialogueBox  header-->
<div class="panel-header">
  <md-panel-title class="panel-title">
    Dialogue Contents
  </md-panel-title>
</div>
<!--DialogueBox  panel-->
<md-expansion-panel class="show-panel">
  <ol>
    <li>
      <md-form-field>
        <input mdInput [(ngModel)]="name" placeholder="What's your name?">
      </md-form-field>
    </li>
    <li>
      <button md-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>
</md-expansion-panel>


